{
  "admin_domain": "__Domain__",
  "tokens": {
    "__KEY__": {
      "owner": "admin"
    }
  },
  "tunnels": {},
  "users": {
    "admin": {
      "is_admin": true,
      "clients": {}
    }
  }
}
